$black: #2b2730;
$yellow: #ffb84c;
$white:#fff;
$font-family: "Poppins", sans-serif;
$max-width: 1440px;
$font-weight-bold: 700;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-size-small: 16px;
$font-size-sm: 32px;
$font-size-medium:64px;
$font-size-large: 72px;
$line-height-base: 24px;
$line-height-medium:40px;
$line-height-large: 72px;
$border-radius-base: 16px;
$padding-base: 16px;
$padding-lg: 32px;
$gap-base: 16px;
$gap-lg: 32px;
$gap-xl: 52px;

//screen fro media query
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;

//animation
$animation: fade linear;
$animation-timeline: view();
