* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
.logo{
    float: left;
    padding: 20px 0 0 20px;
}
  .container{
    height: 100vh;
    position: relative;
    top: 0;
  }
  
  .inside-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0 0 0 16px;
    height: 100vh;
  }
  
  form {
    display: flex;
    flex-direction: column;
    max-width: 580px;
    margin: 0 auto;
    padding: 16px 0 0;
    border-radius: 10px;
  }
  
  
  .signup-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 16px;
  }
  
  .signup-heading h2 {
    font-size: 26px;
    font-weight: 600;
  }
  
  .form-group {
    margin-bottom: 12px;
    position: relative;
  }
  
  label {
    display: block;
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 14px;
  }
  
  .input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 12px;
    transition: border-color 0.3s ease;
  }
  
  .checkbox,
  .login {
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    padding: 8px 0;
  }
  
  .checkbox input {
    height: 12px;
    width: 12px;
  }
  
  button {
    width: 100%;
    background-color: #ffb84c;
    color: #2b2730;
    border: none;
    padding: 8px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    margin: 16px 0;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #e69a33;
  }
  
  .or {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    position: relative;
    margin: 16px 0;
    font-size: 12px;
  }
  
  .or::before,
  .or::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
  }
  
  .or:not(:empty)::before {
    margin-right: 8px;
  }
  
  .or:not(:empty)::after {
    margin-left: 8px;
  }
  
  .signin-with {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0;
  }
  
  .apple,
  .google,
  .facebook {
    border: 1px solid rgba(0, 0, 0, 0.404);
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .apple i,
  .facebook i {
    margin: 0 8px;
    font-size: 24px;
  }
  
  .facebook i {
    color: #1877f2;
  }
  
  
  .google img {
    margin: 0 8px;
    width: 24px;
    height: 24px;
  }
  
  .apple p,
  .google p,
  .facebook p{
    font-size: 12px;
    margin: 0 8px;
  }
  
  .apple:hover,
  .google:hover,
  .facebook:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #ffb84c;
  }
  
  .signup-separator {
    width: 1px;
    height: 80%;
    align-content: center;
    background-color: #ccc; 
    position: absolute;
    left: calc(50% + 30px); 
    top: 10%;
  }
  
  .img-wrapper {
    min-width: 500px;
    max-width: 850px;
    height: 100vh;
    overflow: hidden;
    border-radius: 20px 0 0 20px;
  }
  
  .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  
  
  /* --------------------------------------login-------------------- */
  
  main .login-page {
    padding: 0 0 0 16px;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
  
  .login-heading{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .login-heading h2 {
    font-size: 28px;
    font-weight: 600;
    padding-bottom: 8px;
  }
  
  .login-heading p{
    font-size: 20px;
    font-weight: 400;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  
  .form-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 250px;
    margin: 74px auto;
    position: relative;
  }
  
  .form-separator {
    width: 1px;
    height: 100%;
    background-color: #ccc; /* Light grey color for the separator */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .login-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  .login-btn span{
    color: #2b2730;
    border: none;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    margin-right: 20px;
    padding-left: 5px;
  }
  
  .social-media{
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  
  .login-social-media{
    width: 320px;
  }
  
  .login-input{
    width: 400px;
  }
  
  .forgot-password a{
    font-size: 18px;
    padding: 32px;
  }
  