.engage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1040px;
  margin: 0 auto;
  padding: 0;
}

.engage-wrapper {
  width: 1040px;
  margin: 116px auto;
  @include flex-center(column, center, center);
  gap: 24px;
  padding: 116px;
  background-color: $black;
  height: 420px;
  border-radius: $border-radius-base;

  h1 {
    @include text-styles($font-weight-bold, 56px, 64px, $white);
    text-align: center;
  }

  p {
    @include text-styles($font-weight-regular, $font-size-small, $line-height-base, $white);
  }

  button {
    @include button-styles($yellow, $black, $padding-base, 32px);
    width: 145px;
    height: 52px;
    border: 2px solid $black;
    @include text-styles($font-weight-medium, 14px, 20px, $black);

    &:hover {
      background-color: $black;
      color: $white;
      border: 2px solid $yellow;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }
}

@media (max-width: 1000px) {
  .engage{
    max-width: 850px;

  .engage-wrapper {
    max-width: 850px;
    // height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 40px;

    h1 {
      font-size: 40px;
      line-height: 46px;
    }
  }
}
}

@media (max-width: 900px) {
  .engage{
    max-width: 750px;

  .engage-wrapper {
    max-width: 750px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 15px;
      text-align: center;
    }

    button {
      width: 120px;
      height: 44px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
}

@media (max-width: 750px) {
  .engage{
    max-width: 550px;

  .engage-wrapper {
    max-width: 550px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.2;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 15px;
      text-align: center;
    }

    button {
      width: 120px;
      height: 44px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
}


@media (max-width: 576px) {
  .engage{
    max-width: 350px;

  .engage-wrapper {
    max-width: 350px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      font-weight: 600;
      font-size: 30px;
      line-height: 1.5;
      text-align: center;
    }

    p {
      font-size: 16px;
      line-height: 1.5;
      text-align: center;
    }

    button {
      width: 120px;
      height: 44px;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
}
