.feature {
  display: flex;
  justify-content: space-between;
  @include responsive-max-width;
  padding: 0 $padding-base 0 0;
  margin-top: 110px;

  .feature-left {
    max-width: 504px;
    flex: 1;
    padding-right: $padding-base;

    h2 {
      @include text-styles($font-weight-bold, 48px, 56px, $black);
      margin-bottom: $padding-base;
    }

    p {
      @include text-styles($font-weight-regular, 18px, 28px, $black);
      margin-bottom: 24px;
    }

    button {
      @include button-styles($black, $white, 16px 32px, 32px);

      &:hover {
        background-color: darken($yellow, 10%);
        color: $black;
      }
    }
  }

  .feature-right {
    flex: 1;
    @include flex-center;

    .grid {
      @include flex-center(column, center, center);
      gap: 36px;

      .grid-one,
      .grid-two {
        flex: 1;
        @include flex-center(row, center, center);
        gap: 34px;

        .grid-col {
          display: flex;
          flex-direction: column;
          width: 216px;
          height: 280px;
          gap: $gap-base;

          h3 {
            @include text-styles($font-weight-bold, 24px, 32px, $black);
          }

          p {
            @include text-styles($font-weight-regular, $font-size-small, $line-height-base, $black);
          }
        }
      }
    }
  }

  // Media Queries for Responsiveness
  @media (max-width: 1200px) {
    .feature-left, .feature-right {
      flex: 1 1 50%;
    }
  }

  @media (max-width: 950px) {
    flex-direction: column;

    .feature-left, .feature-right {
      max-width: 100%;
      padding-right: 0;
      flex: 1 1 100%;
      margin-top: 50px;
    }

    .feature-right .grid {
      gap: 24px;

      .grid-one, .grid-two {
        flex-direction: column;
        gap: 24px;
      }

      .grid-col {
        width: 100%;
        height: auto;
      }
    }
  }

  @media (max-width: 480px) {
    padding: 0 10px;

    .feature-left {
      h2 {
        font-size: 36px;
        line-height: 44px;
      }

      p {
        font-size: 16px;
        line-height: 24px;
      }

      button {
        padding: 12px 24px;
        font-size: 14px;
      }
    }

    .feature-right .grid .grid-col {
      h3 {
        font-size: 20px;
        line-height: 28px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}
