.footer {
  @include responsive-max-width;
  padding: $padding-lg auto;
  display: flex;
  @include flex-center(row, space-between, flex-start);


  .footer-left {
    width: 250px;
    @include flex-center(column, space-between, flex-start);
    gap: 76px;

    .logo {
      img {
        width: 96px;
        height: 32px;
      }
    }

    .social-media {
      display: flex;
      gap: $gap-base;

      a {
        color: $black;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .footer-right {
    display: flex;
    gap: 40px;

    .col {
      max-width: 280px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      h3 {
        @include text-styles($font-weight-bold, 18px, 24px, $black);
        margin-bottom: 10px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 8px;

          a {
            text-decoration: none;
            @include text-styles($font-weight-regular, $font-size-small, $line-height-base, $black);
            transition: color 0.3s;

            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}




@media (max-width: 1150px) {
  .footer {

    max-width: 950px;
    @include flex-center(row,center, center);
    gap: 30px;
    margin: 30px auto;

    .footer-right {
      @include flex-center(row, space-between, flex-start);
      max-width: 750px;

      .col {
        max-width: 100%;
      }
    }
    // .footer-left{
    //   @include flex-center(column, space-between, flex-start);

    // }
  }
}

// @media (max-width: 980px) {
//   .footer {
//     max-width: 650px;
//     justify-content: center;
//     align-items: center;
//     gap: 16px;
//     margin: 0;

//     .footer-right {
//       max-width: 550px;
//       gap: 14px;

//       .col {
//         max-width: 150px;

//         ul {
//           li{
//             max-width: 155px;
//           }
//         }
//       }

    
//     }
//   }
// }

@media (max-width: 900px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer-left {
      order: 2;
      width: 150px;
      margin-top: $padding-lg;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      gap: 20px;
    }

    .footer-right {
      order: 1;
      width: 150px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
    }
  }
}

@media (max-width: 576px) {
  .footer {
    .footer-left,
    .footer-right {
      width: 100%;
    }

    .footer-left {
      margin-top: $padding-lg;
    }

    .footer-right {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}