.footer {
  @include responsive-max-width;
  margin: $padding-lg auto;
  padding: 20px 26px;
  display: flex;

  .footer-left {
    width: 424px;
    @include flex-center(column, space-between, flex-start);
    gap: 76px;

    .logo {
      img {
        width: 96px;
        height: 32px;
      }
    }

    .social-media {
      display: flex;
      gap: $gap-base;

      a {
        color: $black;
        font-size: 24px;
        transition: color 0.3s;

        &:hover {
          color: $yellow;
        }
      }
    }
  }

  .footer-right {
    display: flex;
    gap: $gap-lg;

    .col {
      min-width: 180px;
      display: flex;
      flex-direction: column;
      gap: $gap-base;

      h3 {
        @include text-styles($font-weight-bold, 18px, 24px, $black);
        margin-bottom: 10px;
      }

      ul {
        list-style: none;

        li {
          margin-bottom: 8px;

          a {
            text-decoration: none;
            @include text-styles($font-weight-regular, $font-size-small, $line-height-base, $black);
            transition: color 0.3s;

            &:hover {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}
