@mixin text-styles($weight, $size, $line-height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  color: $color;
}

@mixin responsive-text($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

.hero {
  @include responsive-max-width;
  text-align: center;

  .row {
    @include section-margin;
    @include flex-center(row, space-between, center);

    .para {
      width: 950px;

      p {
        @include text-styles($font-weight-bold, $font-size-large, 80px, $black);
        text-align: left;

        span {
          color: $yellow;
        }
      }
    }

    .group img {
      width: 100%;
    }
  }
}

  @media (max-width: 1000px) {
    .hero{
      @include flex-center(row, center,center);

    .row{

    .para {
      max-width: 400px;

      p {
        max-width: 450px;
        @include responsive-text(40px, 1.2);
      }
    }
    .group img{
      width: 200px;
      height: 200px;
      position: relative;
      right: 50px;
      top: 100px;
    }
  } 
  }
}



  @media (max-width: 750px) {
    .row {

      .para {
        max-width: 250px;
        margin: 0 auto;

        p {
          padding: 0 20px;
          font-size: 10px;
        }
      }

      .group {
        padding-top: 10px;

      }
    }
  }


