.hero {
  @include responsive-max-width;
  text-align: center;

  .row {
    height: 258px;
    @include section-margin;
    @include flex-center(row, space-between, center);
    gap: 125px;

    .para {
      width: 850px;

      p {
        @include text-styles($font-weight-bold, $font-size-large, 80px, $black);
        text-align: left;
        margin-top: 100px;

        span {
          color: $yellow;
        }
      }
    }

    .group img {
      width: 100%;
    }
  }
}

@media (max-width: 1100px) {
  .hero .row .para {
    width: 750px;

    p {
      font-size: 60px;
      line-height: 1.2;
    }
  }
}

@media (max-width: 900px) {
  .hero .row{
    margin: 0 auto;
  .para {
    width: 550px;

    p {
      font-size: 40px;
      line-height: 1.2;
    }
  }
} 
}

@media (max-width: 750px) {
  .hero .row {
    margin: 10px auto;
    .para {
      width: 550px;
      margin: 0px auto;
  
      p {
        font-size: 30px;
        line-height: 1.2;
      }

    }
    .group{
      padding-top: 10px;
      img{
        padding-top: 20px;
      }
    } 
  }
}

