.image{
padding: 10px 100px;
@include flex-center(row, center, center);
background: linear-gradient(
  to top,
  $black 0%,
  $black 50%,
  $white 50%,
  $white 100%
  );

.banner-img {

    @include flex-center(row, center, center);
    max-width: $max-width;
    
    z-index: 1000;
    margin: 0 auto;


    img {
      max-width: 1024px;    
      object-fit: cover;
    }
  }
}

@media (max-width: 1000px) {
    .image{
        .banner-img {
            width: 85%; 
            bottom: 450px;
        
            img {
              max-width: 100%;
            }
          }
    }
    
}

@media (max-width: 900px) {
    .image{
        .banner-img {
            width: 90%;           
        
            img {
              max-width: 90%;
            }
          }
    }
}