.team {
  background-color: $black;

  .team-bg {
    @include responsive-max-width;

    .team-para {
      width: 100%;
      padding-top: 5rem;
      @include text-styles(
        $font-weight-bold,
        $font-size-medium,
        $line-height-large,
        $white
      );
      display: flex;
      flex-direction: column;

      span {
        color: $yellow;
      }

      p {
        color: $white;
      }
    }

    .team-row-one {
      @include flex-center;
      gap: 2rem;
      @include section-margin;

      .img-card img {
        width: 100%;
        border-radius: 1rem;
      }
    }

    .team-row-two {
      max-width: $max-width;
      @include flex-center(row, space-between, center);
      padding-bottom: 6rem;
      gap: 100px;

      .two-col1 {
        max-width: 70%;
        @include flex-center(row, center, center);
        gap: 2rem;

        .col {
          span {
            @include text-styles(
              $font-weight-bold,
              $font-size-medium,
              $line-height-large,
              $yellow
            );
          }

          p {
            @include text-styles(
              $font-weight-regular,
              36px,
              2.5rem,
              $white
            );
          }
        }
      }

      .two-col2 {
        display: flex;
        justify-content: space-between;
        gap: 5px;

        p {
          
          max-width: 250px;
          @include text-styles(500, 36px, 1.2, $white);
        }

        .arrow-icon {
          width: 64px;
          height: 64px;
          border-radius: 50%;
          background-color: $yellow;
          @include flex-center;

          &:hover {
            background-color: $black;
            border: 2px solid $yellow;
            cursor: pointer;
            color: $white;
          }

          i {
            font-size: 1.5rem;
            width: 1rem;
            height: 1.5rem;

            &:hover {
              color: $white;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1240px) {

  .team .team-bg .team-row-one {
    gap: 1.5rem;
  }

  .team .team-bg .team-row-two .two-col1 {
    gap: 1.5rem;

    .col span {
      @include text-styles(
        $font-weight-bold,
        $font-size-medium,
        $line-height-large,
        $yellow
      );
    }

    .col p {
      @include text-styles(
        $font-weight-regular,
        $font-size-small,
        2rem,
        $white
      );
    }
  }
}

@media (max-width: 1000px) {

  .team .team-bg .team-row-one {
    gap: 0.8rem;
  }

  .team .team-bg .team-row-two {
    .two-col1 {
      gap: 0.8rem;

      .col span {
        @include text-styles(
          $font-weight-bold,
          40px,
          $line-height-large,
          $yellow
        );
      }

      .col p {
        @include text-styles(
          $font-weight-regular,
          $font-size-sm,
          1.5rem,
          $white
        );
      }
    }
    .two-col2 {
      gap: 5px;
      p {
        font-size: 28px;
      }
    }
  }
}

@media (max-width: 900px) {
  .team .team-bg .team-row-one {
    flex-direction: column;
    gap: 1rem;
  }

  .team .team-bg .team-row-two {
    flex-direction: column;
    gap: 3rem;
    align-items: center;

    .two-col1 {
      max-width: 100%;
      @include flex-center(column, center, flex-start);
      gap: 2rem;

      .col {
        p {
          font-size: 28px;
        }
      }
    }

    .two-col2 {
      @include flex-center(row, center, center);
      gap: 0.75rem;

      p {
        width: 170px;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 700px) {
  .team .team-bg .team-para {
    padding-top: 10rem;

    span {
      font-size: $font-size-medium;
    }

    p {
      font-size: $font-size-medium;
    }
  }

  .team .team-bg .team-row-one {
    flex-direction: column;
    gap: 0.5rem;
  }

  .team .team-bg .team-row-two {
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    .two-col1 {
      max-width: 100%;
      flex-direction: column;
      gap: 0.75rem;

      .col span {
        @include text-styles(
          $font-weight-bold,
          $font-size-sm,
          $line-height-large,
          $yellow
        );
      }

      .col p {
        @include text-styles(
          $font-weight-regular,
          20px,
          1.25rem,
          $white
        );
      }
    }

    .two-col2 {
      flex-direction: row;
      align-items: center;
      text-align: center;
      gap: 0.5rem;

      p {
        width: auto;
      }
    }
  }
}

@media (max-width: 500px) {
  .team .team-bg .banner-img {
    width: 40%;
    top: 0%;
    padding-bottom: 4%;

    img {
      max-width: 100%;
    }
  }

  .team .team-bg .team-para {
    padding-top: 5rem;
  }

  .team .team-bg .team-row-one {
    flex-direction: column;
    gap: 0.5rem;
  }

  .team .team-bg .team-row-two {
    flex-direction: column;
    gap: 1rem;
    align-items: center;

    .two-col1 {
      max-width: 100%;
      flex-direction: column;
      gap: 0.5rem;

      .col span {
        @include text-styles(
          $font-weight-bold,
          $font-size-small,
          $line-height-medium,
          $yellow
        );
      }

      .col p {
        @include text-styles(
          $font-weight-regular,
          $font-size-small,
          1rem,
          $white
        );
      }
    }

    .two-col2 {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 0.5rem;

      p {
        width: auto;
      }
    }
  }
}
